* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: black;
    width: 50%;
  }
  
ul {
    margin: 0;
    padding: 0;
  }
  
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
  }
  
ul li:hover {
    background: #ddd;
  }
  
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: green;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
.close:hover {
    background-color:black;
    color: white;
  }
  
  /* Style the header */
.header {
    background-color: #4195fc;
    padding: 30px 40px;
    color: white;
    text-align: center;
    clear: both;
  }
  
  /* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
  
.addBtn:hover {
    background-color: #bbb;
  }